{% extends 'base_layout.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<div class="container-fluid" align="center" style="margin: 20px 0 2px 0">
    <h4>Brave Shoe World is resource for extended sized women's shoes. </h4>
    {% load static %}
    <img style="margin: 20px" src="{% static 'dswclearance.jpg' %}" alt="11%up">
    <h5 style="margin: 10px 80px 10px 80px; text-align: left">
        <u1>Anyone looking for women's shoes over a size 10 US knows.
            <li>We are lucky to find our size in any "10 & Up" clearance section;</li>
            <li>Any brand that carries our size is cherished;</li>
            <li>Finding our size at a discount is something to celebrate;</li></u1>
    </h5>
    <h5 style="margin: 10px 80px 10px 80px">
        <p>We've all developed our own tricks and hacks for not being barefoot.</p>
        <b>Let's share our favorite finds with each other!</b>
    </h5>
</div>
{% endblock %}
