{% extends 'base_layout.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<div class="container-fluid" align="center" style="margin: 20px 0 2px 0">
    <h4>Brave Shoe World is resource for extended sized women's shoes. </h4>
    {% load static %}
    <img style="margin: 20px" src="{% static 'dswclearance.jpg' %}" alt="11%up">
    <h5 style="margin: 10px 80px 10px 80px">
        It's slim pickings for women's extended size shoes.
    </h5>
    <h5 style="margin: 10px 80px 10px 80px">

    </h5>
</div>
{% endblock %}
