{% extends 'base_layout.html' %}

{% block title %}
<title>Brave Shoe World</title>
{% endblock %}

{% block content %}
    <div class="jumbotron" align="center">
        <p>Where can we find <i>affordable</i> women's* extended size shoes in a <b>post-Payless world</b>?</p>
        <p><strong>Brave Shoe World</strong> is here to find out.</p>
        <div class="container" style="margin: 30px 0 30px 0">
            <a class="btn btn-primary" role="button" href="{% url 'about' %}">How it works</a>
            <a class="btn btn-primary" role="button" href="#">Explore some shoes</a>
            <a class="btn btn-primary" role="button" href="{% url 'posts:create' %}">Add your shoes</a>
        </div>
        <div class="container">
            <table class="table table-bordered">

              <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Top Stores</th>
                    <th scope="col">10.5</th>
                    <th scope="col">11</th>
                    <th scope="col">11.5</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>
                    <th scope="col">14</th>
                    <th scope="col">15</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>[store name]</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>[store name]</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>[store name]</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid posts-area  ">
        <div class="row">
            {% for post in posts %}
                <div class="col" style="margin-bottom: 20px">
                    <div class="card" style="width: 18rem;">
                        <img src="{{post.shoe_pic.url }}" class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title">{{post.brand}}&nbsp{{post.shoe_type}}</h5>
                            <p class="card-text">{{post.store}}</p>
                            <p style="float:right">{{post.size}}</p>
                            <a class="btn btn-primary" href={{post.link}}>Store Website</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
