{% extends 'base_layout.html' %}

{% block content %}
    <div class="jumbotron">
        <p>We are living in a post-Payless world.</p>
        <p>Welcome to the shoepocalypse.</p>
        <div>
            <a class="size-button size-all" href="{% url 'posts:list' %}">All</a>
            <a class="size-button size-11" href="{% url 'posts:list_11' %}">11</a>
            <a class="size-button size-12" href="{% url 'posts:list_12' %}">12</a>
            <a class="size-button size-13" href="{% url 'posts:list_13' %}">13</a>
            <a class="size-button size-plus" href="{% url 'posts:list_plus' %}">&nbsp;+&nbsp;</a>
        </div>
    </div>
    <nav class="nav-middle">
        <ul>
            <li>Shoe Type</li>
            <li>Price</li>
            <li>Store</li>
            <li>Brand</li>
        </ul>
    </nav>
    <div class="posts">
        {% for post in posts_12 %}
            <div class="post">
                <h2 style="float:right">{{post.size}}</h2>
                    <h2 class="store">{{post.store}}</h2>
                    <img src="{{post.shoe_pic.url }}" />
                    <h2><a href={{post.link}}>{{post.shoe_name}}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
